{% extends "base.html" %}
{% block title %}
    {% if object %}
        Edit Content "{{ object.title }}"
    {% else %}
        Add New Content
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            Edit Content "{{ object.title }}"
        {% else %}
            Add New Content
        {% endif %}
    </h1>

    <div class="module">
        <h2>Course info</h2>
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Save Content"></p>
        </form>
    </div>
{% endblock %}
